<h1>New Post</h1>

<%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :title, %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_field :content %>
    </div>

    <div class="field">
      <%= f.label :published_at%>
      <%= f.text_field :published_at %>
    </div>

    <div class="field">
      <%= submit %>
    </div>

<% end %>